<!-- Генератор MIF-файлов -->
<html>
<head>
    <title>Генератор MIF-файлов</title>
    <script src="../jquery-3.2.1.min.js"></script>
    <script src="../downloader.js"></script>
    <link rel="stylesheet" href="../base.css">
    <meta charset="utf-8" />
</head>
<body>

    <script>
    
        function dnl() {
        
            var file = document.getElementById('mem_file').files[ 0 ];
            var reader = new FileReader();
            reader.readAsArrayBuffer(file);
            reader.onload = upload_ok;
            return false;
        }

        function upload_ok(event) {
        
            var addr_size = $('#memory_size').val();
            var addr_bits = $('#mem_bits').val();
            var file_name = $('#file_name').val();
        
            var m = new Array();            
            
            // Загрузка данных из ArrayBuffer
            var uarr = new Uint8Array(event.target.result);

            m.push('WIDTH=' + addr_bits + ';');
            m.push('DEPTH=' + addr_size + ';');

            m.push('ADDRESS_RADIX=UNS;');
            m.push('DATA_RADIX=UNS;');
           
            m.push('CONTENT BEGIN');
            
            for (var i = 0; i < addr_size; i++) {            
                m.push(i + ' : ' + (typeof uarr[i] === 'undefined' ? 0 : uarr[i]) + ';');            
            }           

            m.push('END;');
            
            m = m.join("\r\n");
            $('#dg').html(m);
                        
            download(file_name, m);
        }
        
        
    </script>

    <h1>Генератор MIF-файлов</h1>
    <form id="mem_mif">
    <table>    
        <tr>
            <td>Объем памяти в байтах</td>
            <td><input type="text" id="memory_size" value="1024" /></td>
        </tr>
        <tr>
            <td>Битность</td>
            <td><input type="text" id="mem_bits" value="8" /></td>
        </tr>
        <tr>
            <td>Имя</td>
            <td><input type="text" id="file_name" value="ram.mif" /></td>
        </tr>
        <tr>
            <td>Файл</td>
            <td><input type="file" id="mem_file" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Загрузка файла" onclick="return dnl()" /></td>
        </tr>
    </table> 
    </form>    
    
    <pre id="dg"></pre>

</body>
</html>